						
						<nav class="navbar float-right nav-main-collapse submenu-dark">
						
						<header id="topNav">
			<div class="container">
						<nav class="logo float-left scrollTo" href="#top">
					<img src="\assets\RocketElevatorAssets\R2.png" alt="" />
				</nav>

							<nav class="nav nav-pills nav-main nav-onepage">
								<li class="active">
									<!-- HOME -->
									<a href="/index.html">
										HOME</a>


								</li>
								<li>
									<!-- SERVICES -->
									<a href="/index.html#services">
										SERVICES
									</a>
								</li>
								<li>
									<!-- PORTFOLIO -->
									<a href="/index.html#portfolio">
										PORTFOLIO
									</a>
								</li>
								<li>
									<!-- TESTIMONIALS -->
									<a href="/index.html#testimonials">
										TESTIMONIALS
									</a>
								</li>
								<li>
									<!-- CLIENTS -->
									<a href="/index.html#clients">
										CLIENTS
									</a>
								</li>
								<li>
									<!-- CONTACT -->
									<a href="/index.html#contact">
										CONTACT
									</a>
								</li>
							</ul>

						</nav>
	